@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700&display=swap');
@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #202430;

  --primary: #4640DE;
  --primary-hover: #3733B1;
  --muted: #515B6F;
  --light-bg: #F8F8FD;
  --border: #D6DDEB;

  --accent-yellow: #FFB836;
  --accent-green: #56CDAD;
  --accent-blue: #26A4FF;
  --accent-red: #FF6550;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-muted: var(--muted);
  --color-light-bg: var(--light-bg);
  --color-border: var(--border);

  --color-accent-yellow: var(--accent-yellow);
  --color-accent-green: var(--accent-green);
  --color-accent-blue: var(--accent-blue);
  --color-accent-red: var(--accent-red);

  --font-sans: var(--font-epilogue), sans-serif;
  --font-heading: 'Clash Display', sans-serif;
  --font-meta: var(--font-inter), sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}